{% extends "layout.html" %}
{% block content %}
        <h1 style="color:blue; text-align: center">Developers</h1>

        <p style="font-size:18px">
            The developers of this webpage come from different backgrounds. Most of us are enrolled in the ENE
            master program at NHH, and share a common interest in policies to mitigate climate change and in the
            promotion of a fair and inclusive green transition.
            </br>
            </br>
            We have a strong background in quantitative analysis complemented with our skills in programming and
            app development. We are also committed with the big transformations and debates taken place in the society
            and we are involved in the political debates participating actively in political forums.
        </p>

        <p style="font-size:24px; text-align: center">
            <strong>Developers:</strong>
            <ul style="font-size:24px; text-align: center">
                <li>
                    <strong>Developer 1</strong>: Brief bio. Link to cv.
                </li>
                <li>
                    <strong>Developer 2</strong>: Brief bio. Link to cv.
                </li>
            </ul>
        </p>
{% endblock content %}