<!DOCTYPE html>
<html>
    <head>
        <!--Your own CSS-->
        <link rel="stylesheet" href="static/style_carbon.css" />

        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>home</title>
        {% endif %}
    </head>
    <body>

        <!--Navbar-->
        <nav class="navbar_carbon">
          <div class="container">
            <div class="logo"><a href="{{ url_for('home') }}">App Calculator</a></div>
            <ul class="nav">
              <li>
                <a href="{{ url_for('home') }}">Home</a>
              </li>
              <li>
                <a href="{{ url_for('app_calculator') }}">App</a>
              </li>
            </ul>
          </div>
        </nav>

        {% block content %} {% endblock %}

        <!-- Footer -->
        <p>Transport Carbon Emissions Calculator App</p>

    </body>
</html>