{% extends "layout.html" %}
{% block content %}
        <h1 style="color:blue; text-align: center">Home</h1>
        <p style="font-size:18px">
            <strong>Carbon emissions</strong> constitute the 60% of the ecological footprint, and are one of the
            main contributors to climate change.
            </br>
            </br>
            <strong>Transport carbon emissions</strong> are an important share of carbon emissions. We develop a <strong>methodology</strong> to
            compute transport carbon emissions, and we develop an <strong>app</strong> to track those emissions.
        </p>
{% endblock content %}